<div id="<%= dom_id editor %>">
  <div>
    <strong>Name:</strong>
    <%= editor.name %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= editor.age %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= editor.email %>
  </div>

</div>
