<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <h3> <%= post.title %> </h3>
    <p>Description: <%= post.description %></p>
    <p>Likes: <%= post.likes %> </p>
  <% end %>
</div>
